body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	font-size: 100%;
}

@media screen and (max-device-width: 375px) and (max-device-height: 667px) {
	.instructions {
		min-width: 75%;
	}
}

/*@media screen and (max-width: 480px) {
  header h1 {
    font-size: 4em;
  }

  .instructions {
  	width: 75%;
  }
}*/

/* Navigation */

.nav-custom {
	font-size: 2em;
	z-index: 2;
	position: fixed;
	background-color: rgba(256, 256, 256, 0.8);
}

nav a {
	color: #DB8D83;
}

/* Header */

header h1 {
	color: white;
	display: inline-block;
	/*margin-top: 50px;*/
	font-weight: 400;
	float: center;
	font-size: 18vw;
	text-shadow: 2px 2px #000;
}

header h3 {
	color: white;
	font-size: 5vw;
	text-shadow: 2px 2px #000;
	margin-top: 0px;
}

header {
	background: url("../imgs/detroit-skyline.jpg") no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	max-height: 100%;
	min-height: 700px;
}

header figure {
	text-align: center;
	margin-top: 200px;
}

.logo {
	max-height: 200px;
	display: inline-block;
	padding-bottom: 50px;
}

/* About */

#about {
	text-align: center;
	background-color: dodgerblue;
	padding-top: 75px;
	padding-bottom: 25px;
	font-family: 'Amatic SC', cursive;
	color: white;
	text-shadow: 1px 1px #000;
	border-top: 2px solid black;
}

#about img {
	max-width: 100%;
	width: 280px;
	height: 200px;
	border: 6px solid white;
}

#about div {
	margin-right: 20px;
	margin-left: 20px;
}

#about h3 {
	font-size: 7em;
	margin-top: 0px;
}

#about h4 {
	font-size: 4em;
	font-family: 'Arial';
	margin-top: 20px;
	border: 5px dotted white;
	display: inline-block;
	padding: 10px;
}

#about figcaption {
	font-size: 7em;
	font-weight: bold;
}

/* Contact */

#contact {
	text-align: center;
}

#contact figure {
	display: inline-block;
	margin: auto;
}

#contact img {
	border-radius: 50%;
	height: 120px;
	width: 120px;
	border: 3px solid black;
}

#contact p {
	margin: 0px;
}

.copyright {
	padding-top: 20px;
}

/* Content */

#map-canvas {
	height: 30em;
	width: 80%;
	margin: 0 auto;
	border: 4px solid cornflowerblue;
	padding-bottom: 25px;
}

#map-container {
	padding-top: 60px;
	display: block;
	background-color: steelblue;
	padding-bottom: 15px;
}

#map-container input {
	width: 100px;
	margin-top: 15px;
    font-size: 2vw;
}

#map-container h4 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

#map-container h3 {
	font-size: 3em;
	font-weight: bold;
	display: inline;
}

#map-container p {
	font-size: 1.2em;
	width: 50%;
	margin: 0 auto;
}

#map-container button {
	display: block;
	margin-top: 15px;
    font-size: 2em;
}

.instructions {
	width: 45%;
	margin: auto;
	background-color: rgba(256, 256, 256, 0.5);
	padding: 0px 10px 0px 10px;
	font-size: 1.8em;
}

/* The View */

.container {

    font-size: 120%;
}
 
 .container h1 {
 	font-size: 7em;
 	font-weight: bold;
 	color: black;
 	margin-top: 75px;
 }

 .container button {
 	margin: 0 auto;
 }

 .feedback {
 	width: 75%;
 	margin: 0 auto;
 	text-align: justify;
 }

 /* Contact */

 #contact {
 	margin-top: 75px;
 	background-color: dodgerblue;
 	padding-top: 75px;
 	border-top: 2px solid black;
 }

 #contact figcaption {
 	font-size: 1.2em;
 }
.apply-button {
    width: 70px;
    height: 50px;
}
.inserts {
  color: salmon;
  font-style: italic;
}